

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1,h2,h3,h4
 {
    
    color: white;
    text-align: center;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  
  .content {
    
    align-items: center;
    flex: 0 0 1.8cm;
    min-width: 970px;
    align-items: stretch;
  }

  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  button.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #58c566;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    text-align: center;
  }
    
  .card-container button.card:not(:last-child) {
    margin-right: 166px;
  }

  button.card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container button.card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container button.card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container button.card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  button.card.highlight-card {
    background-color: #19d251;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  button.card.card.highlight-card span {
    margin-left: 60px;
  }
  .first-block {
    margin: 14px;
    border: 3px solid;
    border-color: white;
    justify-content: center;
    
  }
  .second-block{
    border: 2px solid rgb(255, 255, 255);
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 4%;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  

  

th{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  background-color: #58c566;
}
table, th , td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 5px;
  margin:20px;
}
span.table{
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 5px;
  margin:20px;
}

table tr:nth-child(odd) {
  background-color: #cad4cd;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}




</style>

<!-- Toolbar -->
    <div id ="content" class="content" role="main">

      <!-- Resources -->
     
      <div class="first-block">
    
            <h1>Ready For Business </h1>
    
            <div class="card-container">
              <button class="card" name = "NA(North America)" (click)="getDetails($event)">
                <h3>NA<br>(North America)</h3>
              </button>
              <button class="card" name = "EMEA(Europe, Middle East & Africa)" (click)="getDetails($event)">
                <h3>EMEA <br>(Europe, Middle East & Africa)</h3>
              </button>
              <button class="card" name = "APAC(Asia Pacific)" (click)="getDetails($event)">
                <h3>APAC <br>(Asia Pacific)</h3>
              </button>
            </div>
              
      </div>
      <div class ="second-block">
         <h3>{{msg}} </h3>
      </div>
      
      <div class="card-container mt-5">
        <span>
          <h1> Incidents</h1>
        
        <table class="table table-striped">
          <thead>
              <tr>
                <th>Ongoing Incidents</th>
                <th>Past Incidents( 24 hours )</th>
              </tr>
          </thead>
          <tbody>
            <tr >
              <td></td>
              <td></td>
              
            </tr>
            <tr >
              <td></td>
              <td></td>
              
            </tr>
            <tr >
              <td></td>
              <td></td>
              
            </tr>
            <tr >
              <td></td>
              <td></td>
              
            </tr>
            <tr >
              <td></td>
              <td></td>
              
            </tr>
          </tbody>
        </table>
    
        </span>
        <span>
        <h1> Changes</h1>
        <table class="table table-striped">
          <thead>
              <tr>
                <th>CHANGE#</th>
                <th>Owner</th>
                <th>Component</th>
              </tr>
          </thead>
          <tbody>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        </span>
        
      </div>
    </div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
